/* body{
    display: flex;
    align-items: center;
} */


/* button.css-5uatcg.edgvbvh10{
    background-color: #3895ff;
} */

button.css-5uatcg.edgvbvh10 {
    background-color: brown;
    width: 200px;
}